.PageControllerAN .TitleContainer {
  position: relative;
}

.PageControllerAN .Texts {
  margin-top: max(1000px, 100vh);
}


.DS1 .CanvasAN {
  position: relative;
  top: calc(50% - 320px - 100px);
  left: calc(50% - 200px - 420px);
  width: 840px;
  height: 640px;
}
