.PageControllerIN .TitleContainer {
  position: relative;
  /* position: sticky; */
  /* top: 10%; */
}

.PageControllerIN .Texts {
  margin-top: max(1000px, 100vh);
}

.PageControllerIN .TextContainer {
  /* box-shadow: 0px 0px 10px 10px rgba(204, 204, 204, 0.85);
  background-color: rgba(204, 204, 204, 0.85); */
}

.DS1 .CanvasIN {
  position: relative;
  top: calc(50% - 320px - 100px);
  left: calc(50% - 450px - 200px);
  width: 900px;
  height: 640px;
}
