.PageControllerAI .TitleContainer {
  position: relative;
}

.PageControllerAI .Texts {
  margin-top: max(1000px, 100vh);
}

.PageControllerAI .TextContainer {
  box-shadow: 0px 0px 10px 10px rgba(248, 245, 240, 0.90);
  background-color: rgba(248, 245, 240, 0.90);
}

.DS1 .CanvasAI {
  position: relative;
  top: calc(50% - 320px - 100px);
  left: calc(50% - 420px);
  width: 840px;
  height: 640px;
}
