.CanvasII {
  position: relative;
  top: calc(50% - 320px - 100px);
  left: calc(50% - 450px);
  width: 900px;
  height: 640px;
}

.CanvasIN {
  position: relative;
  top: calc(50% - 320px - 100px);
  left: calc(50% - 450px - 200px);
  width: 900px;
  height: 640px;
}
