.PageControllerII .TitleContainer {
  position: relative;
  /* position: sticky; */
  /* top: 10%; */
  margin-top: calc(105px);
}

.PageControllerII .Texts {
  margin-top: max(1000px, 100vh);
}

.PageControllerII .TextContainer {
  box-shadow: 0px 0px 10px 10px rgba(204, 204, 204, 0.85);
  background-color: rgba(204, 204, 204, 0.85);
}

.CanvasII {
  position: relative;
  top: calc(50% - 320px);
  left: calc(50% - 450px);
  width: 900px;
  height: 640px;
}
