.PageControllerSN2 .TitleContainer {
  position: relative;
}

.PageControllerSN2 .Texts {
  margin-top: 250px;
}

.PageControllerSN2 .Texts .SubTexts{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.PageControllerSN2 .TextContainer {
  position: absolute;
}
