.PageControllerI .TitleContainer {
  position: sticky;
  top: 10%;
  margin-top: calc(100vh + 210px);
}

.PageControllerI .Texts {
  margin-top: 700px;
}

.PageControllerI .TextContainer {
  box-shadow: 0px 0px 10px 10px rgba(204, 204, 204, 0.85);
  background-color: rgba(204, 204, 204, 0.85);
}

.CanvasI{
  position: relative;
  top: calc(50% - 320px);
  left: calc(50% - 450px);
  width: 900px;
  height: 640px;
}
