.DS2 .CanvasS {
  width: 100%;
  height: 640px;
}

.DS2 .CanvasA {
  position: relative;
  top: calc(50% - 320px - 100px);
  left: calc(50% - 420px);
  width: 840px;
  height: 640px;
}

.DS2 .CanvasI {
  position: relative;
  /* top: calc(50% - 320px - 100px); */
  left: calc(50% - 525px);
  width: 1050px;
  height: 100%;
}
