.DS2 .CanvasS {
  position: sticky;
  top: 0;
  width: 1050px;
  left: calc(50% - 525px);
  height: 100vh;
}

.DS2 .CanvasA {
  position: sticky;
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  height: 100vh;
}

.DS2 .CanvasI {
  position: sticky;
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  height: 100vh;
}
#scroller {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
#dummy {
}