* {
  white-space: pre-line;
}

.TitleContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Title {
  width: 50%;
  margin-top: 4vw;
  margin-bottom: 8vw;
  font-size: 4vw;
}

#Intro {
  width: 50%;
  min-width: 550px;
  margin-bottom: 512px;
  text-align: left;
}
